ul li{
    cursor: pointer;
    color: white;
    display: inline;
    position: relative;
    margin-block: 10px;
    padding: 10px;
}
ul :hover{
    color: brown;
}
.my:active{
    color: burlywood;
    background-color: chartreuse;
}

